@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
		background: #F7F7F7;
		font-size: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-win{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
}
/* Login Register Page */
.main-win.login-win{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	background: linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5636E0",endColorstr="#4D63FD",GradientType=1);
  overflow-y: auto;
}
.login-reg-col{
  padding: 75px 0;
}
.login-logo{
  text-align: center;
  margin-bottom: 20px;
}
.login-logo img{
  height: 70px;
}
.login-reg-col h4{
  font-size: 18px;
  color: #fff;
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}
.cf-fl{
  position: relative;
}
.cf-fl.cf-fl-hint{
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.cf-fl.cf-fl-digits{
  display: flex;
  margin: 15px 0;
}
.cf-fl.cf-fl-digits input[type=text]{
    margin: auto;
    width: 45px;
    text-align: center;
    font-size: 20px;
}
.cf-fl input[type=text], .cf-fl input[type=password]{
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #DAD7DF;
  text-transform: capitalize;
  background: none;
  color: #F6EFFE;
  margin-bottom: 15px;
}
.cf-fl.dark-fl input[type=text]{
  border-bottom: 1px solid #e4e4e4;
  color: #333;
}
.cf-fl.necessary-fl:after{
  content: "*";
  position: absolute;
  right: 10px;
  top: 15px;
  color: red;
  font-size: 16px;
}
.cf-fl.has-error input.cf-input{
  border-color: #c13544;
}
.cf-fl .cf-fl-error{
  position: absolute;
  right: 0;
  top: 18px;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
  background: #c13544;
  font-size: 8px;
  opacity: 0;
  visibility: hidden;
}
.cf-fl.has-error .cf-fl-error{
  opacity: 1;
  visibility: visible;
}
.cf-fl.cf-fl-btn{
  text-align: center;
}
.cf-fl .cf-btn{
  width: 90%;
  padding: 15px 30px;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}
.cf-btn.light-gr{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFD100",endColorstr="#FFAA00",GradientType=1);
  color: #fff;
}
.light-gr{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFD100",endColorstr="#FFAA00",GradientType=1);
  color: #fff;
}
.medium-gr{
  background: rgb(77,99,253);
  background: -moz-linear-gradient(90deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  background: linear-gradient(90deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d63fd",endColorstr="#5636e0",GradientType=1);
  color: #fff;
}
.cf-btn.social-btn{
  position: relative;
  background: #fff;
  text-align: left;
  width: 90%;
  display: block;
  margin: 5px auto;
  color: #240C41;
  font-weight: 600;
  padding: 15px;
}
.cf-btn.social-btn img{
  width: 25px;
  position: absolute;
  right: 15px;
  top: 12px;
}
.cf-fl-separator{
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.fl-sep-label{

  color: #C7C7D3;
  background: #514DEE;
  position: relative;
  z-index: 2;
}
.cf-fl-separator::before{
  content: "";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 25%;
  background: rgba(241, 241, 249, 0.2);
}
.cf-fl-separator::after{
  content: "";
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 25%;
  background: rgba(241, 241, 249, 0.2);
}
.main-win.dash-win{
	padding-left: 280px;
}
.sidebar{
	width: 280px;
	height: 100vh;
  background: rgb(77,99,253);
  background: -moz-linear-gradient(180deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  background: linear-gradient(180deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d63fd",endColorstr="#5636e0",GradientType=1);
	border-right: 1px solid #eee;
	position: fixed;
	left: 0;
  overflow-y: auto;
}
.sidebar .acc-part{
	text-align: center;
	padding: 30px 0;
}
.acc-part .avatar{
	position: relative;
	overflow: hidden;
	width: 120px;

	margin: 0 auto;
}
.acc-part .avatar img{
	width: 120px;
  border-radius: 50%;
}
.acc-part .avatar .acc-setting{
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #FFAA00;
  text-align: center;
  padding-top: 2px;
  font-size: 16px;
  background: #4D63FD;

}
.acc-part .avatar .acc-setting a{
  color: #FFAA00;
}
.sidebar .acc-part h3{
	font-weight: 600;
	color: #fff;
}
.side-menu{

}
.side-menu > ul{
	border-top: 1px solid #DAD7DF;
}
.side-menu > ul > li{
	border-bottom: 1px solid #DAD7DF;
	padding: 15px 20px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  max-height: 57px;
  position: relative;
}
.side-menu > ul > li > a{

	display: inline-block;
	width: 100%;
	font-size: 18px;
	color: #fff;
}
.side-menu > ul > li.active{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFD100",endColorstr="#FFAA00",GradientType=1);
}
.side-menu > ul > li.active > a{
	font-weight: 600;
  color: #fff;
}
.side-menu > ul > li > ul{
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
.side-menu > ul > li.expand {
  max-height: 500px;
}
.side-menu > ul > li.expand > ul{
  opacity: 1;
  visibility: visible;
}
.side-menu > ul > li.has-sub > a:after{
  content: "\f078";
  font-family: 'FontAwesome';
  position: absolute;
  color: #fff;
  font-size: 14px;
  top: 18px;
  right: 15px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
.side-menu > ul > li.expand > a:after {
  transform: rotate(180deg);
}
.menu-ic{
	width: 30px;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
}
.menu-ic i{
	font-size: 25px;
	position: relative;
	top: 2px;
  color:#FFAA00;
}
.side-menu > ul > li.active > a .menu-ic i{
  color: #fff;
}
.side-menu > ul > li > ul{
	margin: 20px 30px 0;
}
.side-menu > ul > li > ul > li > a{
	display: inline-block;
	width: 100%;
	padding: 10px;
  color: #fff;
}
.side-menu > ul > li > ul > li.current{
	font-weight: 600;
}
.side-menu > ul > li > ul > li span{
	position: relative;
}
.side-menu > ul > li > ul > li.current span::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FE766F;
	top: 4px;
	left: -20px;
}
.content{
	padding-top: 60px;
}
.head{
	background: #fff;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	right: 0;
	left: 280px;
}
.head{
	background: #fff;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	right: 0;
	left: 280px;
  box-shadow: 0 1px 3px 0 rgba(12,12,13,0.2);
  z-index: 800;
}
.search-part{
  position: relative;
}
.search-part input{
  height: 40px;
  border: 0;
  background: none;
  width: 200px;
  color: #484848;
}
.search-part:after{
  content: "\f002";
  font-family: 'FontAwesome';
  position: absolute;
  color: #4B4B5D;
  font-size: 20px;
  top: 5px;
}
.sidebar .logo{
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}
.sidebar .logo img{
  height: 50px;
}

/*Content*/
.main-content{
  padding: 20px 0;
}
/*Explore Page*/
.cf-expandable-col{
  width: 50%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(12,12,13,0.2);
  height: 80vh;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  border-radius: 5px;
  overflow: hidden;
}
.cf-expandable-col.expanded-col{
  width: 100%;
}
.cf-expandable-single-col{
  min-height: 100%;
  padding: 0 10px;
}
.cf-expandable-col.expanded-col .cf-expandable-single-col{
  width: 50%;
  float: left;
}
.second-col{
  display: none;
  padding: 30px;
}
.cf-expandable-col.expanded-col .second-col{
  display: block;
  border-left: 1px solid #F2F2F2;
}
.cf-col-head{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	background: linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5636E0",endColorstr="#4D63FD",GradientType=1);
  margin-bottom: 10px;
}
.cf-col-head h3{
  color: #fff;
  font-weight: 600;
  margin: 0;
  font-size: 18px;
  padding: 15px 20px;
}
.cf-col-head h3.cf-second-title{
  display: none;
}
.cf-expandable-col.expanded-col .cf-col-head h3{
  width: 50%;
  float: left;
}
.cf-expandable-col.expanded-col .cf-col-head h3.cf-second-title{
  display: block;
}
ul.explore-to-do li{
  border-bottom: 1px solid #E1D9EB;
}
ul.explore-to-do li a{
  display: inline-block;
  padding: 15px 15px;
  font-size: 14px;
  width: 100%;
  position: relative;
  color: #7D718C;
}
ul.explore-to-do li a:after{
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  color: #FFAA00;
  font-size: 20px;
  right: 15px;
  top: 11px;
}
ul.explore-to-do li a:hover{
  font-weight: 600;
}
ul.explore-to-do li a:hover::after {
  content: "\f054";
  font-family: 'FontAwesome';
  position: absolute;
  color: #FFAA00;
  font-size: 16px;
  right: 15px;
  top: 15px;
}
ul.explore-to-do li.go-premium a:after{
  content: "";
}
ul.explore-to-do li.logout a:after{
  content: "\f08b";
  color: #999;
}
ul.explore-to-do li.logout a:hover::after {
  font-size: 20px;
  top: 11px;
}
.event-card{
  background: #F1EEF4;
  border: 1px solid #E1D9EB;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}
.event-card.inc-pipe{
  width: 90%;
}
.event-card.inc-rating{
  width: 80%;
}
.event-ic{
  float: left;
  width: 62px;
  height: 62px;
  background: #fff;
  color: #C6BBD4;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  padding-top: 12px;
  margin-right: 15px;
}
.contact-card-one .event-ic{
  padding-top: 0;
}
.contact-card-one .event-ic img{
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
.event-det h4{
  color: #240C41;
  font-weight: 500;
  font-size: 16px;
  margin: 8px 0;
  position: relative;
  text-transform: capitalize;
}
.event-edit-name{
  color: #240C41;
  font-size: 14px;
  margin-left: 5px;
}
.event-det span{
  color: #7D718C;
  font-size: 13px;
}
.event-card-tools{
  position: absolute;
  right: 10px;
  top: 5px;
}
.tools-drop{
  width: 100px;
  background: #fff;
  position: absolute;
  right: -4px;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 991;
  box-shadow: 0 1px 3px 0 rgba(12,12,13,0.1);
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
.tools-drop.show-up{
  opacity: 1;
  visibility: visible;
}
.tools-drop ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.tools-drop ul li{
  padding: 3px 0;
  font-size: 12px;
}

.event-tool-one{
  float: right;
  margin-left: 10px;
  font-size: 20px;
  color: #BBABCF;
}
.event-card-meta{
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.event-meta-one{
  float: right;
  margin-left: 10px;
  font-size: 20px;
  color: #BBABCF;
}
.event-rate{
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}
.event-rate a{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  padding-top: 4px;
  text-align: center;
  margin-right: 10px;
}
.event-rate .event-dislike{
  background: rgb(255,209,0);
  background: -moz-linear-gradient(180deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
  background: linear-gradient(180deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd100",endColorstr="#ffaa00",GradientType=1);
}
.event-rate .event-like{
  background: rgb(255,209,0);
background: -moz-linear-gradient(0deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
background: linear-gradient(0deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd100",endColorstr="#ffaa00",GradientType=1);
}
.add-to-pipe{
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.add-to-pipe a{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  padding-top: 5px;
  text-align: center;
  margin-right: 10px;
  background: #FFAA00;
}
.explore-filters{
  margin-bottom: 20px;
}
.explore-filters h3{
  margin: 0;
  margin-top: 8px;
  color: #FFAA00;
  font-size: 20px;
  font-weight: bold;
}
.cf-col{
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(12,12,13,0.2);
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  border-radius: 5px;
}
.cf-full-col{
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(12,12,13,0.2);
  height: 80vh;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  border-radius: 5px;
  overflow-y: hidden;
}
.col-scroll-pane{
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.has-head .col-scroll-pane{
  top: 70px;
}
.cf-full-col.explore-col{
    overflow: hidden;
}
.cf-full-col .cf-col-head{
  margin-bottom: 40px;
}
.see-on-map{
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.see-on-map a{
  padding: 8px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

/*My Cards*/
.my-card-one{
  min-width: 300px;
  min-height: 170px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(12,12,13,0.1);
  overflow: hidden;
  margin-bottom: 30px;
}
.card-ratio{

}
.my-card-one.dark-template{
  background: #10273B;
  color: #fff;
}
.my-card-one.light-template{
  background: #fff;
  color: #10273B;
}
.personal-info{
  position: absolute;
  left: 20px;
  top: 20px;
}
.personal-info h3{
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
}
.personal-info span{
  font-size: 11px;
}
.my-card-one .company-info{
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.my-card-one .company-logo{
  float: right;
  padding-left: 10px;
  line-height: 40px;
}
.my-card-one .company-logo img{
  height: 15px;
}
.my-card-one .contact-info{
  float: left;
  border-right: 2px solid #eee;
  font-size: 10px;
  padding-right: 10px;
}
.my-card-hover{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(125,113,140);
  background: -moz-linear-gradient(0deg, rgba(125,113,140,0.95) 0%, rgba(89,76,104,0.95) 100%);
  background: -webkit-linear-gradient(0deg, rgba(125,113,140,0.95) 0%, rgba(89,76,104,0.95) 100%);
  background: linear-gradient(0deg, rgba(125,113,140,0.95) 0%, rgba(89,76,104,0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d718c",endColorstr="#594c68",GradientType=1);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
.my-card-one:hover .my-card-hover{
  opacity: 1;
  visibility: visible;
}
.my-card-hover ul{
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.my-card-hover ul li{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.my-card-hover ul li:last-child{
  border-bottom: 0;
}
.my-card-hover ul li a{
  display: inline-block;
  padding: 12px 30px;
  width: 100%;
  font-size: 18px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  color: #fff;
}
.my-card-hover ul li a:hover{
  color: #FFAA00;
}
.my-card-hover ul li a i{
  margin-left: 5px;
}
.my-card-one.add-new{
  background: #F1F1F1;
  color: #999999;
  text-align: center;
  display: inline-block;
  padding-top: 50px;
}
.my-card-one.add-new i{
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
/*Add New Card*/
.add-card-col{
  padding: 20px;
}
.add-card-section{
  margin-bottom: 40px;
}
.add-card-section h3{
  font-size: 16px;
  margin: 10px 0 20px 0;
  color: #240C41;
}
.company-info{
  text-align: center;
}
.company-info input[type=submit]{
  padding: 8px 20px;
  width: 100%;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.logo-preview{
  width: 100px;
  height: 100px;
  background: #f1f1f1;
  margin: 0px auto 15px;
}
.map-preview{
  height: 100px;
  background: #f1f1f1;
  margin: 0px auto 15px;
}
.add-card-hint{
  font-size: 12px;
}
.upload-design{
  margin: 30px 0;
  text-align: center;
}
.upload-design input[type=submit]{
  padding: 8px 30px;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.add-card-separator{
  position: relative;
  text-align: center;
  margin: 50px 0;
}
.ac-sep-label{
  color: #AAAAAA;
  background: #fff;
  position: relative;
  z-index: 2;
}
.add-card-separator::before{
  content: "";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 30%;
  background: #e4e4e4;
}
.add-card-separator::after{
  content: "";
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 30%;
  background: #e4e4e4;
}
.card-des-bg .des-bg-one.big{
  width: 40%;
  float: left;
  height: 30px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.card-des-bg .des-bg-one{
  width: 26%;
  float: left;
  height: 30px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 3px;
}
.des-add-bg{
  border: 3px solid #9F8EB3;

}
.des-add-bg a, .des-add-pic a{
  color: #9F8EB3;
}
.card-des-gr .card-gr-one{
  width: 29%;
  float: left;
  height: 30px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.gr-a{
  background: rgb(77,99,253);
  background: -moz-linear-gradient(90deg, #2C4CD3 0%, #9DC5EE 100%);
  background: -webkit-linear-gradient(90deg, #2C4CD3 0%, #9DC5EE 100%);
  background: linear-gradient(90deg, #2C4CD3 0%, #9DC5EE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2C4CD3",endColorstr="#9DC5EE",GradientType=1);
}
.card-gr-one.des-add-pic{
  text-align: center;
  padding-top: 2px;
  color: #9F8EB3;
  font-size: 18px;
}
.add-card-link{
  text-align: center;
  margin: 20px auto;

  font-size: 13px;
  font-weight: 500;
}
.add-card-link a{
  color: #16344E;
}
.add-card-link i{
  font-size: 12px;
}
.add-card-font .fancy-select{
  margin: 10px 0;
}
.add-card-color{
  text-align: center;
}
.card-color-one{
  display: inline-block;
  margin-right: 10px;
}
.card-color-one a{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: 8px;
  margin-left: 8px;
}
.add-card-export{
  text-align: center;
}
.export-btn a{
  display: inline-block;
  width: 50%;
  padding: 15px 10px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 20px;
}
/*Contacts*/
.contacts-list{
  padding: 0px 20px;
}
.contact-col-section{
  position: relative;
  border-bottom: 1px solid #EBEBEB;
  padding: 30px 20px;
}
.contact-tools{
  position: absolute;
  right: 15px;
  top: 15px;
}
.contact-tool-one{
  color: #999999;
  font-size: 18px;
  margin-left: 10px;
}
#single-contact{
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
#single-contact.show-up, #loader.show-up{
    opacity: 1;
    visibility: visible;
}
#loader{
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.contact-pic{
  text-align: center;
}
.contact-pic img{
  width: 100px;
  border-radius: 50%;
}
.contact-title{
  text-align: center;
  padding-bottom: 30px;
}
.contact-title span{
  color: #999999;
}
.contact-title a{
  background: #FFAA00;
  display: inline-block;
  padding: 3px;
  width: 25px;
  height: 25px;
  color: #fff;
  border-radius: 50%;
  margin-left: 5px;
}
.contact-info{
  margin-bottom: 20px;
}
.contact-info:last-of-type, .contact-meta:last-of-type{
  margin-bottom: 0;
}
.info-label{
  color: #999;
  display: block;
  margin-bottom: 5px;
}
.contact-meta{
  margin-bottom: 20px;
}
.contact-label-one{
  font-size: 11px;
  color: #4B4A5E;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 10px 5px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.contact-label-one i{
  margin-left: 5px;
}
.contact-label-one.add-new{
  padding: 5px 10px 5px 15px;
  text-align: center;
  background: #ededed;
  color: #999;
}
.contact-label-one.add-new i{
  margin-left: 0;
}
.notes-carousel .flickity-button{
  width: 24px;
  height: 24px;
  background: #F1EEF4;
}
.contact-note-one{
  border-radius: 10px;
  width: 120px;
  height: 125px;
  font-size: 12px;
  background: #6D7177;
  color: #fff;
  padding: 8px;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
}
.contact-note-one.add-note{
  display: inline-block;
  padding: 5px 9px;
  text-align: center;
  background: #ededed;
  color: #999;
  margin-left: 5px;
  padding-top: 35px;
}
.contact-note-one.add-note i{
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
.last-meet{
  color: #4D63FD;
}
.last-meet i{
  color: #999;
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  top: 0px;
}
.contact-more{
text-align: center;
}
.contact-more a{
  display: inline-block;
  width: 80%;
  color: #fff;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 3px;
}
.contact-card{
  margin-bottom: 30px;
}
.contact-mutual-events{
  padding: 20px;
}
.contact-mutual-events h3{
  font-size: 16px;
  color: #999999;
  margin: 0;
  margin-bottom: 15px;
}
.event-overview{
  padding: 20px;
}
.event-overview h3{
  font-size: 18px;
  color: #7D718C;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
}
.event-ov-date{
  margin-bottom: 20px;
  color: #7D718C;
}
.event-ov-map{
  height: 150px;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
}
.event-ov-info{
  margin-bottom: 20px;
  color: #7D718C;
}
/*Events*/
.events-page .event-ov-date{
  color: #FE766F;
}
.events-page .event-overview h3{
  margin-bottom: 8px;
  color: #240C41;
  font-weight: 600;
}
.event-ov-title{
  margin-bottom: 15px;
}
.event-ov-title span{
  font-size: 16px;
  font-weight: 300;
}
.event-people h4{
  font-size: 16px;
  color: #240C41;
  margin: 0;
  margin-bottom: 15px;
}
.event-people h4 .count{
  color: #999;
}

.event-page-title{
  padding: 20px 10px;
}
.event-page-title h1{
  display: inline-block;
  font-weight: 700;
  color: #7D718C;
  margin: 0;
  vertical-align: middle;
}
.event-page-title a{
  display: inline-block;
  padding: 8px 40px;
  vertical-align: middle;
  margin-left: 20px;
  border-radius: 5px;
  font-weight: 500;
}
/*Pipelines*/
.current-event-title{
  font-size: 36px;
  color: #7D718C;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.pipelines{
  padding: 20px 40px;
  position: relative;
  display: inline-block;
}
.pipeline-one {
  background: none;
  border: 0;
  font-size: 14px;
  line-height: 68px;
  position: relative;
  width: 130px;
  height: 68px;
  padding-left: 10px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
.pipeline-one a {
  color: #999;
  text-decoration: none;
  position: relative;
  z-index: 10;
  font-weight: 600;
}
.pipeline-one::before, .pipeline-one::after {
  background: #fff;
  border-radius: 0px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 1s;
  height: 35px;
}
.pipeline-one::before {
  box-shadow: 0 1px 3px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.09);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  bottom: 0;
  z-index: 1;
}
.pipeline-one::after {
  box-shadow: 0 1px 3px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.09);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  top: 0;
}
.pipeline-one:hover::before, .pipeline-one:hover::after {

}
.pipeline-one:focus {
  outline: 0;
}
.pipeline-one:focus::before, .pipeline-one:focus::after {
  background: #f2f2f2;
}
.pipeline-one.current-event a{
  color: #fff;
}
.pipeline-one.current-event::before, .pipeline-one.current-event::after{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(255,170,0,1)  0%, rgba(255,209,0,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(255,170,0,1) 0%, rgba(255,209,0,1)  100%);
	background: linear-gradient(74deg, rgba(255,170,0,1) 0%,  rgba(255,209,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFAA00",endColorstr="#FFD100",GradientType=1);
}
.link-pipeline{
  position: absolute;
  right: -100px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.link-pipeline a{
  color: #FFAA00;
  font-size: 13px;
  font-weight: 600;
}
.link-pipeline a i{
font-size: 20px;
}

/*Setting*/
.setting-fl{
  margin-bottom: 15px;
}
.setting-fl span{
  font-size: 14px;
  color: #7D718C;
  display: block;
}
.setting-fl input{
  border: 0;
  border-bottom: 1px solid #E1D9EB;
  background: none;
  width: 100%;
  height: 50px;
}

.edit-avatar{
  position: relative;
  height: 100px;
  width: 100px;
  margin: 20px auto;
}
.edit-avatar img{
  height: 100px;
  border-radius: 50%;
}
.edit-avatar a{
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: #4D63FD;
  width: 25px;
  height: 25px;
  color: #fff;
  border-radius: 50%;
  padding-top: 2px;
}
.setting-fl.cf-fl-btn{
  text-align: center;
  margin: 40px 0;
}
.setting-fl.cf-fl-btn input[type="submit"]{
  max-width: 250px;
  margin: 0 auto;
  border-radius: 5px;
}
/*Tabs*/
.cf-tabs-links{
  width: 100%;
  list-style: none;
  padding: 20px 0;
  margin: 0;
  display: table;
}
.cf-tabs-links li{
  display: table-cell;
  text-align: center;
}
.cf-tabs-links li a{
  color: #240C41;
  display: inline-block;
  padding: 3px 0;
}
.cf-tabs-links li.active a{
  color: #FFAA00;
  border-bottom: 2px solid #FFAA00;
  font-weight: bold;
}
.cf-tabs-body{
  padding: 0 20px;
}
/*Alerts*/
.alert-holder{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(86,54,224,0.8) 0%, rgba(77,99,253,0.8) 100%);
	background: -webkit-linear-gradient(74deg, rgba(86,54,224,0.8) 0%, rgba(77,99,253,0.8) 100%);
	background: linear-gradient(74deg, rgba(86,54,224,0.8) 0%, rgba(77,99,253,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5636E0",endColorstr="#4D63FD",GradientType=1);
}
.alert-win{
  width: 350px;
  background: rgba(255, 209, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  color: #fff;
}
.alert-title{
  /* margin-bottom: 15px; */
}
.alert-title h3{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.alert-icon{
  font-size: 60px;
  color: #50E868;
}
.alert-icon i{
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.close-alert{
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  color: #fff;
}

/*Fancy Select*/
div.fancy-select {
	position: relative;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 13px;
	color: #46565D;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
	box-shadow: 0 0 0 2px #4B5468;
}

div.fancy-select select:focus + div.trigger.open {
	box-shadow: none;
}

div.fancy-select div.trigger {
	border-radius: 6px;
	cursor: pointer;
	padding: 10px 24px 9px 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: #fff;
	border: 1px solid #9F8EB3;
	border-top-color: #A5B2CB;
	color: #9F8EB3;
  font-weight: 300;
	width: 100%;
	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #9F8EB3;
	top: 18px;
	right: 9px;
}

div.fancy-select div.trigger.open {
	background: #9F8EB3;
	border: 1px solid #9F8EB3;
	color: #fff;
	box-shadow: none;
}

div.fancy-select div.trigger.open:after {
	border-top-color: #fff;
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	right: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	background: #fff;
	border-radius: 4px;

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	min-width: 100%;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 50px;
	opacity: 1;

	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding: 8px 12px;
	color: #7b539c;
	cursor: pointer;
	white-space: nowrap;
  font-weight: 300;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
	background: rgba(159,142,179,0.1);
	color: #7b539c;
  font-weight: 500;
}

div.fancy-select ul.options li.hover {
	color: #7b539c;
  background: rgba(0,0,0,0.03);
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	/* background: red; */
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 5px;
}

.jspHorizontalBar
{
	/* background: red; */
	bottom: 0;
	height: 5px;
	left: 0;
	position: absolute;
	width: 100%;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: rgba(0, 0, 0, 0.05);
	position: relative;
}

.jspDrag
{
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	left: 0;
	position: relative;
	top: 0;
  border-radius: 5px;

}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #999;
	cursor: pointer;
        direction: ltr;
	display: block;
	margin: 0;
	padding: 0;
	text-indent: -20000px;
}

.jspDisabled
{
	background: #80808d;
	cursor: default;
}

.jspVerticalBar .jspArrow
{
	height: 5px;
}

.jspHorizontalBar .jspArrow
{
	float: left;
	height: 100%;
	width: 10px;
}

.jspVerticalBar .jspArrow:focus
{
        border: 1px solid red;
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}


.no-padding {
    padding: 0;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a, a:hover, a:focus {

    text-decoration: none;
		cursor: pointer;
}

* {
    outline: 0 !important;
}


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {

}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {

}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .cf-fl.cf-fl-digits input[type=text]{

      width: 30px;

  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {

}
