@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
		background: #f2f2f2;
		font-size: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-win{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
/* Login Register Page */
.main-win.login-win{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	background: linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5636E0",endColorstr="#4D63FD",GradientType=1);
  overflow-y: auto;
}
.login-reg-col{
  padding: 75px 0;
}
.login-logo{
  text-align: center;
  margin-bottom: 20px;
}
.login-logo img{
  height: 70px;
}
.login-reg-col h4{
  font-size: 18px;
  color: #fff;
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}
.cf-fl{
  position: relative;
}
.cf-fl.cf-fl-hint{
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.cf-fl.cf-fl-digits{
  display: flex;
  margin: 15px 0;
}
.cf-fl.cf-fl-digits input[type=text]{
    margin: auto;
    width: 45px;
    text-align: center;
    font-size: 20px;

}
.cf-fl input[type=text], .cf-fl input[type=password]{
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #DAD7DF;
  text-transform: capitalize;
  background: none;
  color: #F6EFFE;
  margin-bottom: 15px;
}

.cf-fl.has-error input.cf-input{
  border-color: #c13544;
}
.cf-fl .cf-fl-error{
  position: absolute;
  right: 0;
  top: 18px;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
  background: #c13544;
  font-size: 8px;
  opacity: 0;
  visibility: hidden;
}
.cf-fl.has-error .cf-fl-error{
  opacity: 1;
  visibility: visible;
}
.cf-fl.cf-fl-btn{
  text-align: center;
}
.cf-fl .cf-btn{
  width: 90%;
  padding: 15px 30px;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}
.cf-btn.light-gr{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFD100",endColorstr="#FFAA00",GradientType=1);
  color: #fff;
}
.cf-btn.social-btn{
  position: relative;
  background: #fff;
  text-align: left;
  width: 90%;
  display: block;
  margin: 5px auto;
  color: #240C41;
  font-weight: 600;
  padding: 15px;
}
.cf-btn.social-btn img{
  width: 25px;
  position: absolute;
  right: 15px;
  top: 12px;
}
.cf-fl-separator{
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.fl-sep-label{

  color: #C7C7D3;
  background: #514DEE;
  position: relative;
  z-index: 2;
}
.cf-fl-separator::before{
  content: "";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 25%;
  background: rgba(241, 241, 249, 0.2);
}
.cf-fl-separator::after{
  content: "";
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 25%;
  background: rgba(241, 241, 249, 0.2);
}
.main-win.dash-win{
	padding-left: 280px;
}
.sidebar{
	width: 280px;
	height: 100vh;
  background: rgb(77,99,253);
  background: -moz-linear-gradient(180deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  background: linear-gradient(180deg, rgba(77,99,253,1) 0%, rgba(86,54,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d63fd",endColorstr="#5636e0",GradientType=1);
	border-right: 1px solid #eee;
	position: fixed;
	left: 0;
}
.sidebar .acc-part{
	text-align: center;
	padding: 30px 0;
}
.acc-part .avatar{
	position: relative;
	overflow: hidden;
	width: 120px;
	border-radius: 50%;
	margin: 0 auto;
}
.acc-part .avatar img{
	width: 120px;
}
.sidebar .acc-part h3{
	font-weight: 600;
	color: #fff;
}
.side-menu > ul{
	border-top: 1px solid #DAD7DF;
}
.side-menu > ul > li{
	border-bottom: 1px solid #DAD7DF;
	padding: 15px 20px;
}
.side-menu > ul > li > a{

	display: inline-block;
	width: 100%;
	font-size: 18px;
	color: #fff;
}
.side-menu > ul > li.active{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(74deg, rgba(255,209,0,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFD100",endColorstr="#FFAA00",GradientType=1);
}
.side-menu > ul > li.active > a{
	font-weight: 600;
  color: #fff;
}
.menu-ic{
	width: 30px;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
}
.menu-ic i{
	font-size: 25px;
	position: relative;
	top: 2px;
  color:#FFAA00;
}
.side-menu > ul > li.active > a .menu-ic i{
  color: #fff;
}
.side-menu > ul > li > ul{
	margin: 20px 30px 0;
}
.side-menu > ul > li > ul > li > a{
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
  color: #fff;
}
.side-menu > ul > li > ul > li.current{
	font-weight: 600;
}
.side-menu > ul > li > ul > li span{
	position: relative;
}
.side-menu > ul > li > ul > li.current span::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FE766F;
	top: 4px;
	left: -20px;
}
.content{
	padding-top: 60px;
}
.head{
	background: #fff;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	right: 0;
	left: 280px;
}
.head{
	background: #fff;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	right: 0;
	left: 280px;
  box-shadow: 0 1px 3px 0 rgba(12,12,13,0.2);
  z-index: 800;
}
.search-part{
  position: relative;
}
.search-part input{
  height: 40px;
  border: 0;
  background: none;
  width: 200px;
  color: #484848;
}
.search-part:after{
  content: "\f002";
  font-family: 'FontAwesome';
  position: absolute;
  color: #4B4B5D;
  font-size: 20px;
  top: 5px;
}
.sidebar .logo{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.sidebar .logo img{
  height: 50px;
}

/*Content*/
.main-content{
  padding: 20px 0;
}
/*Explore Page*/
.cf-expandable-col{
  width: 50%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(12,12,13,0.2);
  height: 80vh;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  border-radius: 5px;
  overflow: hidden;
}
.cf-expandable-col.expanded-col{
  width: 100%;
}
.cf-expandable-single-col{
  min-height: 100%;
  padding: 0 10px;
}
.cf-expandable-col.expanded-col .cf-expandable-single-col{
  width: 50%;
  float: left;
}
.second-col{
  display: none;
  padding: 30px;
}
.cf-expandable-col.expanded-col .second-col{
  display: block;
  border-left: 1px solid #F2F2F2;
}
.cf-col-head{
  background: rgba(86,54,224,1);
	background: -moz-linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	background: -webkit-linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	background: linear-gradient(74deg, rgba(86,54,224,1) 0%, rgba(77,99,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5636E0",endColorstr="#4D63FD",GradientType=1);
  margin-bottom: 10px;
}
.cf-col-head h3{
  color: #fff;
  font-weight: 600;
  margin: 0;
  font-size: 18px;
  padding: 15px 20px;
}
.cf-col-head h3.cf-second-title{
  display: none;
}
.cf-expandable-col.expanded-col .cf-col-head h3{
  width: 50%;
  float: left;
}
.cf-expandable-col.expanded-col .cf-col-head h3.cf-second-title{
  display: block;
}
ul.explore-to-do li{
  border-bottom: 1px solid #E1D9EB;
}
ul.explore-to-do li a{
  display: inline-block;
  padding: 15px 15px;
  font-size: 14px;
  width: 100%;
  position: relative;
  color: #7D718C;
}
ul.explore-to-do li a:after{
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  color: #FFAA00;
  font-size: 20px;
  right: 10px;
  top: 11px;
}
ul.explore-to-do li a:hover{
  font-weight: 600;
}
ul.explore-to-do li a:hover::after {
  content: "\f054";
  font-family: 'FontAwesome';
  position: absolute;
  color: #FFAA00;
  font-size: 16px;
  right: 10px;
  top: 15px;
}
.event-card{
  background: #F1EEF4;
  border: 1px solid #E1D9EB;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-bottom: 15px;
}
.event-ic{
  float: left;
  width: 62px;
  height: 62px;
  background: #fff;
  color: #C6BBD4;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  padding-top: 12px;
  margin-right: 15px;
}
.event-det h4{
  color: #240C41;
  font-weight: 300;
  font-size: 16px;
  margin: 8px 0;
  position: relative;

}
.event-edit-name{
  color: #240C41;
  font-size: 14px;
  margin-left: 5px;
}
.event-det span{
  color: #7D718C;
  font-size: 13px;
}
.event-card-tools{
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.event-tool-one{
  float: right;
  margin-left: 10px;
  font-size: 20px;
  color: #BBABCF;
}
.event-tool-one.tool-more{
  position: absolute;
  top: -45px;
  right: 0px;
}
.no-padding {
    padding: 0;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
		cursor: pointer;
}

* {
    outline: 0 !important;
}


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {

}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {

}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .cf-fl.cf-fl-digits input[type=text]{

      width: 30px;

  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {

}
